<%= form_for @badges_template, :html => { :multipart => true } do |f| %>
  <% if @badges_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badges_template.errors.count, "error") %> prohibited this badges_template from being saved:</h2>

      <ul>
      <% @badges_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span4">
      <div class="controls">
	<%= f.label :name %>
	<div class="control-group">
	  <%= f.text_field :name %>
	</div>
      </div>
      <div class="controls">
	<%= f.label :internet_points %>
	<div class="control-group">
	  <%= f.number_field :internet_points %>
	</div>
      </div>
      <div class="controls">
        <%= f.label :photo %>
        <div class="control-group">
          <%= f.file_field :photo %>
        </div>
      </div>
    </div>

    <div class="offset1 span4">
      <div class="controls">
	<%= f.label :description %>
	<div class="control-group">
	  <%= f.text_area :description, :class => 'kfrank-text' %>
	</div>
      </div>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
