<!DOCTYPE html>
<html>
  <head>
    <title>CyberWVUBadges</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
	<%= link_to "Cyber WVU Badges", root_path, :class => 'brand' %>
	<div class="pull-right">
	  <ul class="nav">
	    <% if user_signed_in? %>
	    <li class="kfrank-li"><%= current_user.email %></li>
	    <li><%= link_to "Sign out", destroy_user_session_path %></li>
	    <% else %>
	    <li><%= link_to "Sign in", new_user_session_path %></li>
	    <% end %>
	  </ul>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="span3">
	<ul class="nav nav-list nav-inverse">
	  <li class="nav-header">CYBER WVU BADGES</li>
	  <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to 'Home', root_path %></li>
	  <li class="<%= 'active' if params[:controller] == 'badges_template' %>"><%= link_to 'Badges', badges_templates_path %></li>
	  <li class="<%= 'active' if params[:controller] == 'account' %>"><%= link_to 'My Badges', account_path(1) %></li>
	  <li class="<%= 'active' if params[:controller] == 'account' %>"><%= link_to 'Create Account', accounts_path %></li>
	</ul>
      </div>

      <div class="span9">
	<div class="row">
	  
	</div>
	<%= yield %>
      </div>
    </div>
  </body>
</html>
